@model Survey

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3>Submitted Info</h3>
                <ul>
                    <li>Name: @ViewBag.Survey.Name</li>
                    <li>Dojo Location: @ViewBag.Survey.Location</li>
                    <li>Favorite Language:: @ViewBag.Survey.Language</li>
                    <li>Comment: @ViewBag.Survey.Comment</li>
                </ul>
                <a href="/" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</div>